PORT=3000
DATABASE_URL="postgres://dbgp_user:cJPMYbehT7u9ClcnCtXAPNylrpDM9Wzx@dpg-cftu6gp4reb6ks1s10p0-a.oregon-postgres.render.com/dbgp
"
JWT_SECRET=c61e6d96405d4a4b476a7f4bfad9c3f2603a3b17a7ec71c1d37d7a8ab3106fa2
JWT_EXPIRES_IN=1h