PORT=3000
DATABASE_URL="postgres://gp_2023_dev_database_user:zyR8peXyXUXtDR5gpX8XfRIssC5KY44V@dpg-chae8ue7avj5o4ajucag-a.oregon-postgres.render.com/gp_2023_dev_database"
JWT_SECRET=c61e6d96405d4a4b476a7f4bfad9c3f2603a3b17a7ec71c1d37d7a8ab3106fa2
JWT_EXPIRES_IN=1h